.react-calendar {
  background: transparent !important;
  border: 0 !important;
  color: #194868;
}

.react-calendar,
.react-calendar__tile,
.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  color: #194868;
}

.react-calendar__tile--active {
  background: #ff615f !important;
  color: white;
  border-radius: 10px;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #898c95;
}
.react-calendar__month-view__days__day--weekend {
  color: #bb5a5a;
}
.react-calendar__tile--now {
  background: #fff35d;
  border-radius: 10px;
}
